/* ASTROTURF
 *
 * 0. layout
 * 1. video background
 * 2. typography
 * 3. color
 * 3. mobile
 *
 */

* {
  overflow-anchor:none;
}

.txtform {
  text-align:center;
  color:white;
  font-size:32pt;
}

/* ===== 0. LAYOUT ===== */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  display:flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh !important;
  z-index: 1;
  max-width: 100%;
}

#background-video {
  margin:0;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw !important;
  /*min-height: 20vh !important;*/
  /*height:100vh !important;*/
  min-height:100vh;

  z-index: -1;

  transition:all 750ms linear;
  position:fixed;
}

nav, h1, footer{
  width:100%;
  z-index: 10;
}

h1 {
  position: relative;
  text-align:center;
  z-index: 2;
  color: rgba(0,0,0,0);
}

h1 a {
  color: rgba(0,0,0,0);
}

nav ul{
  display:flex;
  justify-content:center;
}

nav ul li {
  text-align:center;
  flex:1;
} 

#content {
  overflow:scroll;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  flex-grow: 1;
}

#contact {
}

#artists, #pro, #contact {
  margin-right: 12.5%;
  margin-left: 12.5%;
  background-color:rgba(0,0,0,0);
}

footer {
  position:fixed;
  bottom:0;

  text-align:center;
}

#vbravo {
  margin:0;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw !important;
  z-index: 1;
}

#txtform {
  z-index: 2;
  text-align: center;
  color: whitesmoke;

}

/* === 2. TYPOGRAPHY === */

@font-face {
  font-family: 'RussoOne';
  src: url('../fonts/RussoOne.ttf') format('truetype');
  font-display: swap;
}

* {
  font-family: 'RussoOne', sans-serif !important;
}

h2 {
  margin-bottom:12pt;
}

nav a {
  font-size:24pt;
  font-size:1.5em;
}



#content {
  font-size:18pt;
}

p {
  line-height:120%;
  margin-bottom:12pt;
}

/* === 3. COLORS === */
html, body {
  background:#000;
}

h1 img:hover {
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
}

nav a {
  text-decoration:none;
  color:#fff;

  text-shadow:1px 1px 2px rgba(0,0,0,0.5);
}

nav a:hover {
  color:burlywood;
  transition:0.5s all;
}

#content {
  color:white;
}

footer {
  background:rgba(50,50,50,0.3);
}

/* ===== logo video bg ==== */

.blendy {
  inset: 0;
  display: grid;
  background-color: #000;
  overflow:visible;
  color: #fff;
  font-family: sans-serif;
  /* Mix Blend Mode does the all magic */
  mix-blend-mode: multiply;
  user-select: none;
}

#wrap {
  height:100%;
  width:100%;
  position:fixed;
}

input {
  background-color:rgba(88,88,88,1);
  color:#fff;
  border:none;
  border-bottom:2px solid #fff;
  font-size:18pt;
}

input[type="submit"]{
  border-radius:6px;
}

textarea {
  width:400px;
  height:250px;
  background:#111;
  color:#fff;
}

/* ===== ?. mobile ===== */
@media screen and (min-width:800px) and (max-width: 1400px) {

  h1 img {
    width:35%;
  }

  #content {
    font-size:1em;
    padding-top:20px;
    padding-bottom:30px;
  }

  form {
    margin-top:40px;
    margin-bottom:100px;
  }

  
}

@media screen and (max-width: 800px) {
  nav a {
    font-size:1em;
  }

  #content {
    font-size:1em;
    margin-top:20px;
  }
  #pro, #artists  {
    overflow:scroll;
  }

  h1 img {
    width:85%;
  }

  #contact {
    width:90vw;
    max-width:90%;
  }

  textarea{
    width:90%;
  }

  footer {
    position:relative;
  }

  #vbravo {
    width:100%;
  }
  .txtform {
    font-size:22pt;
  }
}
