/* ASTROTURF
 *
 * 0. layout
 * 1. video background
 * 2. typography
 * 3. mobile
 *
 */

/* === X. TO REMOVE === */
body {
  background:lightblue;
}

.mid {
  width:50%;
  opacity:30%;
  background:red;
  height:100%;
  position:fixed;
  top:0;
  left:0;

  z-index:100;
}


/* === 0. LAYOUT === */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.video-container {
  /*
  display:flex;
  align-items:center;
  justify-content:center;
   */
}

nav, h1, footer{
  width:100%;
}

h1 {
  text-align:center;
}

nav ul{
  display:flex;
  justify-content:center;
}

nav ul li {
  text-align:center;
  flex:1;
} 

footer {
  position:fixed;
  bottom:0;

  text-align:center;
}


/* === 2. TYPOGRAPHY === */

@font-face {
  font-family: 'RussoOne';
  src: url('../fonts/RussoOne.ttf') format('truetype');
  font-display: swap;
}

h1 img {

}
h1 img:hover {
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
}

nav a {
  font-size:24pt;
  font-family: 'RussoOne';
  text-decoration:none;
  color:#fff;

  text-shadow:1px 1px 2px rgba(0,0,0,0.5);
}

nav a:hover {
  color:burlywood;
  transition:0.5s all;
}

/* === ?. COLORS === */
footer {
  background:rgba(50,50,50,0.3);
}
